
{% extends 'base.html' %}

<!--
The post that goes with this pen:
https://codepen.io/k3no/post/learning-by-example-getting-started-with-chart-js 
-->

{% block content %}
    <div id="bodywrapper" >
    <div class="header" id="navbar">
      <div id="logo"></div>
      <div id="username">{{username.username}}</div>
    </div>
    <div class="row">
      <div class="col-md-2" id="sidebar"></div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
          
  <!--       Chart.js Canvas Tag -->
        <canvas id="barChart"></canvas>
      </div>
      <div class="col-md-1"></div>
    </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>



<script>

var mainContainer =  document.getElementById('bodywrapper');

var sideBar = document.getElementById("sidebar");
sideBar.style.height="600px";
sideBar.style.width="300px";
sideBar.style.backgroundColor="red";


var navbar = document.getElementById("navbar");
navbar.style.height="50px";
navbar.style.width="100%";
navbar.style.backgroundColor="#212121";

var userName =  document.getElementById('username');
var logo = document.getElementById("logo");
logo.style.height='25px';
logo.style.width="25px";
logo.style.borderRadius="15px";
logo.style.backgroundColor="white";
logo.style.float = 'left';
userName.style.color="white";

var canvas = document.getElementById("barChart");
var ctx = canvas.getContext('2d');

canvas.style.marginTop='50px';

new Chart(document.getElementById("barChart"), {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [168,170,178,190,203,276,408,547,675,734],
        label: "Europe",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [40,20,10,16,24,38,74,167,508,784],
        label: "Latin America",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});

// // Global Options:
// Chart.defaults.global.defaultFontColor = 'black';
// Chart.defaults.global.defaultFontSize = 16;

// var data = {
//   labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
//   datasets: [{
//       label: "Hemoglobin",
//       fill: false,
//       lineTension: 0.1,
//       backgroundColor: "red",
//       borderColor: "red", // The main line color
//       borderCapStyle: 'square',
//       borderDash: [], // try [5, 15] for instance
//       borderDashOffset: 0.0,
//       borderJoinStyle: 'miter',
//       pointBorderColor: "red",
//       pointBackgroundColor: "white",
//       pointBorderWidth: 1,
//       pointHoverRadius: 8,
//       pointHoverBackgroundColor: "yellow",
//       pointHoverBorderColor: "brown",
//       pointHoverBorderWidth: 2,
//       pointRadius: 4,
//       pointHitRadius: 10,
//       // notice the gap in the data and the spanGaps: true
//       data: [65, 59, 80, 81, 56, 55, 40, ,60,55,30,78],
//       spanGaps: true,
//     },{
//       label: "BP",
//       fill: false,
//       lineTension: 0.1,
//       backgroundColor: "rgba(225,0,0,0.4)",
//       borderColor: "green", // The main line color
//       borderCapStyle: 'square',
//       borderDash: [], // try [5, 15] for instance
//       borderDashOffset: 0.0,
//       borderJoinStyle: 'miter',
//       pointBorderColor: "black",
//       pointBackgroundColor: "white",
//       pointBorderWidth: 1,
//       pointHoverRadius: 8,
//       pointHoverBackgroundColor: "yellow",
//       pointHoverBorderColor: "brown",
//       pointHoverBorderWidth: 2,
//       pointRadius: 4,
//       pointHitRadius: 10,
//       // notice the gap in the data and the spanGaps: true
//       data: [66, 49, 60, 71, 56, 25, 60, ,90,25,10,8],
//       spanGaps: true,
//     },{
//       label: "Sugar",
//       fill: false,
//       lineTension: 0.1,
//       backgroundColor: "rgba(225,0,0,0.4)",
//       borderColor: "yellow", // The main line color
//       borderCapStyle: 'square',
//       borderDash: [], // try [5, 15] for instance
//       borderDashOffset: 0.0,
//       borderJoinStyle: 'miter',
//       pointBorderColor: "black",
//       pointBackgroundColor: "white",
//       pointBorderWidth: 1,
//       pointHoverRadius: 8,
//       pointHoverBackgroundColor: "yellow",
//       pointHoverBorderColor: "brown",
//       pointHoverBorderWidth: 2,
//       pointRadius: 4,
//       pointHitRadius: 10,
//       // notice the gap in the data and the spanGaps: true
//       data: [64, 43, 40, 21, 36, 35, 20, ,40,65,40,18],
//       spanGaps: true,
//     }


//   ]
// };

// // Notice the scaleLabel at the same level as Ticks
// var options = {
//   scales: {
//             yAxes: [{
//                 ticks: {
//                     beginAtZero:true
//                 },
//                 scaleLabel: {
//                      display: true,
//                      labelString: 'Moola',
//                      fontSize: 20 
//                   }
//             }]            
//         }  
// };

// // Chart declaration:
// var myBarChart = new Chart(ctx, {
//   type: 'line',
//   data: data,
//   options: options
// });
// </script>

{% endblock content %}